---
---
<footer style="text-align: center; margin-top: 0; padding-top: 20px; border-top: 1px solid var(--border-color); font-size: 13px; color: #6c757d; padding-bottom: 30px;">
  <div style="margin-top: 8px;">&copy; 2025-2026 TeKeep!</div>
</footer>
