---
---
<header class="container" style="text-align: center; margin-bottom: 0; padding-bottom: 0;">
  <a href="/blog/">
    <img src="/blog/images/hero.webp" alt="TeKeep! ブログ" class="hero-img" />
  </a>
</header>
